.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  height: 40vh;
  border-radius: 2%;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

/* Desktop adjustments */
@media (min-width: 768px) {
  .home-page {
    flex-direction: row;
  }

  .profile-img {
    width: 50vh;
    height: 70vh;
  }

  .titles {
    padding-left: 20px;
  }
}
