.about-container {
  padding-top: 5%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

.about-img-okc {
  width: 45vh;
  height: 25vh;
  margin: 10px;
  border-radius: 2%;
}

.about-img-bike {
  height: 35vh;
  width: 25vh;
  margin: 10px;
  border-radius: 2%;
}

p {
  text-indent: 2em;
}

p.last {
  padding-bottom: 20px;
}

/* Desktop adjustments */
@media (min-width: 768px) {
  p {
    text-align: center;
  }

  .about-container {
    padding: 5% 10%;
  }
}
