.projects-container {
  margin: 15px 10px;
}

.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img-project {
  width: 35vh;
  height: 35vh;
  margin-bottom: 10px;
}

hr {
  width: 80%;
  margin: 10px auto;
}

/* Desktop adjustments */
@media (min-width: 768px) {
  .img-project {
    width: 45vh;
    height: 45vh;
    margin-bottom: 10px;
  }
}
