.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img-project {
  width: 20%;
  height: 60%;
}

hr {
  width: 80%;
}

/* Desktop adjustments */
@media all and (min-width: 600px) {
  .projects {
    flex-direction: column;
  }
}
